/*@font-face {*/
/*    font-family: Lato;*/
/*    src: url("Lato/Lato-Black.ttf");*/
/*    src: url("Lato/Lato-BlackItalic.ttf");*/
/*    src: url("Lato/Lato-Bold.ttf");*/
/*    src: url("Lato/Lato-BoldItalic.ttf");*/
/*    src: url("Lato/Lato-Italic.ttf");*/
/*    src: url("Lato/Lato-Light.ttf");*/
/*    src: url("Lato/Lato-LightItalic.ttf");*/
/*    src: url("Lato/Lato-Regular.ttf");*/
/*    src: url("Lato/Lato-Thin.ttf");*/
/*    src: url("Lato/Lato-ThinItalic.ttf");*/
/*}*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.nunito-sans {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100,
    "YTLC" 500;
}
body{
    margin: 0;
    background: #19191B;
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    /*font-family: "Montserrat", sans-serif;*/
}
.first-section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header-1{
    margin: 45px 180px 0 120px;
    display: flex;
    justify-content: space-between;
}
.main-section-1{
    margin: 80px 0 0 120px;
    height: 63%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-div-left-section-1{
    width: 40%;
}
.main-div-right-section-1 {
    width: 60%;
}
.main-div-center-section-1{
    width: 5%;
}
.center-header-1{
    width: 28%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.p-main-div-left-1{
    font-size: 80px;
    margin-bottom: 0;
}
.p-main-div-left-2{
    /*margin-top: 0;*/
    color: rgba(255, 255, 255, 0.70);
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px; /* 185.714% */
    letter-spacing: -0.657px;
}
.button-main-div-left{
    width: 204px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 0;
    background: #5454D4;
    color: #FFF;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.button-right-header-1{
    width: 157px;
    height: 44px;
    background: #19191B;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #FFF;
    backdrop-filter: blur(1px);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.5px;
}
.left-header-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
}
.first-span-left-header-1{
    margin-left: 5px;
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
}
.first-span-center-header-1{
    color: #5454D4;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.two-span-center-header-1{
    color: rgba(255, 255, 255, 0.70);
    text-align: right;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.three-span-center-header-1{
    color: rgba(255, 255, 255, 0.70);
    text-align: right;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.four-span-center-header-1{
    color: rgba(255, 255, 255, 0.70);
    text-align: right;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.two-section{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 200px;
}
.two-section>img{
    width: 53%;
    margin-top: 50px;
}
.text-block{
    width: 53%;
    display: flex;
}
.text-block-0{
    color: #FFF;
    font-family: "Lato", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
}
.text-block-1{
    width: 5%;
}
.text-block-2{
    color: rgba(255, 255, 255, 0.70);
    font-family: "Lato", sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px; /* 185.714% */
    letter-spacing: -0.657px;
}
.three-section{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*flex-wrap: wrap;*/
    flex-direction: column;
}
.first-three-blocks{
    width: 83%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    flex-direction: row;
    text-align: center;
}
.four-six-blocks{
    width: 83%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    flex-direction: row;
    text-align: center;
}
.first-block{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ellipse1{
    width: 69px;
    height: 69px;
    /*margin-left: 200px;*/
    border-radius: 50%;
    /*border: 1px solid deeppink;*/
    position: relative;
    background-color: rgba(84, 84, 212, 0.10);
}
.ellipse1>img{
    width: 29px;
    height: 29px;
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.first-block>p{
    margin: 16px 100px 16px 100px;
}
.two-block{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ellipse2{
    width: 69px;
    height: 69px;
    /*margin-left: 200px;*/
    border-radius: 50%;
    position: relative;
    background-color: rgba(240, 64, 55, 0.10);
}
.ellipse2>img{
    width: 32px;
    height: 32px;
    position: absolute;
    left: 18px;
    bottom: 18px;
}
.two-block>p{
    margin: 16px 100px 16px 100px;
}
.three-block{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ellipse3{
    width: 69px;
    height: 69px;
    /*margin-left: 200px;*/
    border-radius: 50%;
    position: relative;
    background-color: rgba(254, 220, 90, 0.10);
}
.ellipse3>img{
    width: 32px;
    height: 32px;
    position: absolute;
    left: 18px;
    bottom: 18px;
}
.three-block>p{
    margin: 16px 100px 16px 100px;
}
.three-section>h1{
    color: #FFF;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
}
.four-block{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ellipse4{
    width: 69px;
    height: 69px;
    /*margin-left: 200px;*/
    border-radius: 50%;
    position: relative;
    background-color: rgba(254, 220, 90, 0.10);
}
.ellipse4>img{
    width: 32px;
    height: 32px;
    position: absolute;
    left: 18px;
    bottom: 18px;
}
.four-block>p{
    margin: 16px 100px 16px 100px;
}
.five-block{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ellipse5{
    width: 69px;
    height: 69px;
    /*margin-left: 200px;*/
    border-radius: 50%;
    position: relative;
    background-color: rgba(254, 220, 90, 0.10);
}
.ellipse5>img{
    width: 32px;
    height: 32px;
    position: absolute;
    left: 18px;
    bottom: 18px;
}
.five-block>p{
    margin: 16px 100px 16px 100px;
}
.six-block{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ellipse6{
    width: 69px;
    height: 69px;
    /*margin-left: 200px;*/
    border-radius: 50%;
    position: relative;
    background-color: rgba(254, 220, 90, 0.10);
}
.ellipse6>img{
    width: 32px;
    height: 32px;
    position: absolute;
    left: 18px;
    bottom: 18px;
}
.six-block>p{
    margin: 16px 100px 16px 100px;
}
.four-section{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.four-section-pictures{
    width: 80%;
    height: 33%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.four-section-h1{
    width: 80%;
}
.four-section-h1>h1{
    color: #FFF;
    font-size: 58px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 100px;
    margin-bottom: 0;
}

.button-footer{
    width: 201px;
    height: 60px;
    background: #5454D4;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #5454D4;
    backdrop-filter: blur(1px);
    color: #FFF;
    text-align: center;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
}
.five-section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.footer-1{
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
}
.footer-1>h1{
    color: #FFF;
    font-family: "Lato", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 250px;
}
.footer-2{
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-2>p{
    color: rgba(255, 255, 255, 0.70);
    text-align: right;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: -0.5px;
}
.footer-2-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
}
.footer-2-logo>span{
    margin-left: 5px;
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
}
